/* My custom css styling for text and images in blog articles */

p{
    color:black;
    text-align: justify;
}
@media screen and (max-width: 1680px) {
    #main > .inner {
            margin-left:12%; 
            margin-right:12%} }
@media screen and (max-width: 1300px) {
    #main > .inner {
            margin-left:10%; 
            margin-right:10%;} }
@media screen and (max-width: 600px) {
    #main > .inner {
            margin-left:0px; 
            margin-right:0px;} }

figure {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    max-width: 600px;
}
figure img {
    vertical-align: top;
    width: 100%;
    max-width: 600px;
}
figure figcaption {
    text-align: justify;
}